.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1448px;
}

.sm {
  max-width: 640px;
}

.md {
  max-width: 768px;
}

.lg {
  max-width: 1024px;
}

.xl {
  max-width: 1200px;
}

.responsive {
  /* Fluid up to max width */
}

@media (min-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.fluid {
  max-width: none;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
